# Univariate Analysis

def annot_percent(axes):
    for p in plot.patches:
        total = sum(p.get_height() for p in plot.patches)/100
        percent = round((p.get_height()/total),2)
        x = p.get_x() + p.get_width()/2
        y = p.get_height()
        plot.annotate(f'{percent}%', (x, y), ha='center', va='bottom')

#plotting countplot for some categoriacal variable

plt.figure(figsize=(15,25),dpi=100)
n=1
for i in df_cat:
    plot=plt.subplot(12,2,n)
    n+=1
    sns.countplot(df1[i] ,palette=sns.color_palette("hls", 8))
    plt.title(f'{i.title()}',weight='bold')
    plt.tight_layout()
    annot_percent(plot)

# Bivariate Analysis for categorical

def annot_percent(axes):
    for p in plot.patches:
        total = sum(p.get_height() for p in plot.patches)/100
        percent = round((p.get_height()/total),2)
        x = p.get_x() + p.get_width()/2
        y = p.get_height()
        plot.annotate(f'{percent}%', (x, y), ha='center', va='bottom')

#plotting countplot for some categoriacal variable

plt.figure(figsize=(15,25),dpi=100)
n=1
for i in df_cat:
    plot=plt.subplot(12,2,n)
    n+=1
    sns.countplot(df1[i] ,hue=df['loan_status'], palette=sns.color_palette("hls", 8))
    plt.title(f'{i.title()}',weight='bold')
    plt.tight_layout()
    annot_percent(plot)

# CHI SQUARE TEST OF INDEPENDENCE

for i in df_cat.columns:
    table=pd.crosstab(df['loan_status'],df[i])
    stats,p,dof,exp=chi2_contingency(table)
    alpha=0.05
    print('p-value is '+str(p))
    if p<=alpha:
        print('Reject Null hypothesis. Hence, the LOAN STATUS and ',i,'are dependent.')
        print()
    else:
        print('Accept null hypothesis.Hence, the LOAN STATUS and ',i,' are independent.')
        print()

Dealing with emp_duration !!

df_duo['emp_duration'] = df_duo['emp_length'].map({
    '10+ years' : 'high',
    '8 years' : 'high',
    '9 years' : 'high',
    'n/a' : 'None',
    '1 years' : 'low',
    '< 1 year' : 'low',
    '2 years' : 'low',
    '3 years' : 'low',
    '7 years' : 'medium',
    '6 years' : 'medium',
    '5 years' : 'medium'
})
df_duo = dummy_it(df_duo,'emp_length','emp_duration')

last_week_pay and term 


df['last_week_pay'] = df['last_week_pay'].str.extract('(\d+)', expand=False).astype(int)
df['last_week_pay'].head()
df['term'] = df['term'].str.extract('(\w+)', expand=False).astype(int)
df['term'].head()

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('data_clean.csv')

In [3]:
df1.head()

,funded_amnt,term,int_rate,grade,emp_length,home_ownership,annual_inc,verification_status,purpose,dti,...,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,collections_12_mths_ex_med,last_week_pay,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,loan_status
0,14350,36 months,19.19,others,High,OWN,28700.0,Source Verified,debt_consolidation,33.88,...,1173.84,0.0,0.0,0.0,0.0,26th week,0.0,28699.0,30800.0,0
1,4800,36 months,10.99,B,Low,MORTGAGE,65000.0,Source Verified,home_improvement,3.64,...,83.95,0.0,0.0,0.0,0.0,9th week,0.0,9974.0,32900.0,0
2,10000,36 months,7.26,A,Low,OWN,45000.0,Not Verified,debt_consolidation,18.42,...,56.47,0.0,0.0,0.0,0.0,9th week,65.0,38295.0,34900.0,0
3,15000,36 months,19.72,D,High,RENT,105000.0,Not Verified,debt_consolidation,14.97,...,4858.62,0.0,0.0,0.0,0.0,135th week,0.0,55564.0,24700.0,0
4,16000,36 months,10.64,B,High,RENT,52000.0,Verified,credit_card,20.16,...,2296.41,0.0,0.0,0.0,0.0,96th week,0.0,47159.0,47033.0,0

In [7]:
df1.isnull().sum()

funded_amnt                       0
term                              0
int_rate                          0
grade                             0
emp_length                        0
home_ownership                    0
annual_inc                        0
verification_status               0
purpose                           0
dti                               0
mths_since_last_delinq            0
open_acc                          0
pub_rec                           0
revol_bal                         0
revol_util                        0
total_acc                         0
initial_list_status               0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
collections_12_mths_ex_med        0
last_week_pay                 10605
tot_coll_amt                      0
tot_cur_bal                       0
total_rev_hi_lim                  0
loan_status                       0
dtype: int64

In [5]:
df1['last_week_pay'] = df1['last_week_pay'].str.extract('(\d+)', expand=False)

In [11]:
df1.fillna('10000',inplace=True)

In [13]:
df1['last_week_pay'].mode()

0    13
Name: last_week_pay, dtype: object

In [14]:
df1['last_week_pay'] = df1['last_week_pay'].replace('10000','13' )

In [15]:
df1['last_week_pay'].unique()

array(['26', '9', '135', '96', '113', '117', '78', '44', '52', '95', '48',
       '82', '35', '104', '17', '13', '31', '30', '70', '4', '91', '65',
       '39', '83', '74', '22', '61', '156', '122', '174', '87', '139',
       '0', '57', '131', '152', '43', '161', '56', '170', '157', '109',
       '126', '100', '148', '265', '165', '261', '213', '222', '196',
       '130', '144', '244', '204', '69', '217', '143', '191', '21', '226',
       '18', '108', '79', '183', '178', '187', '252', '200', '118', '92',
       '121', '209', '239', '248', '169', '153', '235', '256', '8', '182',
       '230', '231', '257', '243', '205', '192', '270', '218', '283',
       '300', '221', '291', '274', '269', '304'], dtype=object)

In [6]:
df1['last_week_pay'].unique()

array(['26', '9', '135', '96', '113', '117', '78', '44', '52', '95', '48',
       '82', '35', '104', '17', '13', nan, '31', '30', '70', '4', '91',
       '65', '39', '83', '74', '22', '61', '156', '122', '174', '87',
       '139', '0', '57', '131', '152', '43', '161', '56', '170', '157',
       '109', '126', '100', '148', '265', '165', '261', '213', '222',
       '196', '130', '144', '244', '204', '69', '217', '143', '191', '21',
       '226', '18', '108', '79', '183', '178', '187', '252', '200', '118',
       '92', '121', '209', '239', '248', '169', '153', '235', '256', '8',
       '182', '230', '231', '257', '243', '205', '192', '270', '218',
       '283', '300', '221', '291', '274', '269', '304'], dtype=object)